/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Montserrat&family=Poppins:wght@100;400&display=swap');


/*  */
/* Utilities */
/*  */

body {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.left-nav h3 {
    font-weight: 43.75em;
    font-size: 1.5em;
    color: rgba(58, 58, 58, 1);
}

.right-nav {
    display: flex;
    flex-direction: row;
}

.right-nav h4 {
    padding: 20px;
    font-weight: 600px;
    font-size: 1em;
    color: rgba(58, 58, 58, 1);
}

.fa-magnifying-glass,
.fa-cart-arrow-down {
    font-size: 1.2em;
    color: rgba(58, 58, 58, 1);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu-bar {
    display: none;
}

.mobile-nav-cart {
    display: none;
}

/*  */
/* Bannar Design */
/*  */
/* Button */
.preebook-button {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 44px;
    width: 195px;
    background-color: rgba(224, 44, 109, 1);
    border-radius: 41px;
    color: white !important;
}

.button-title {
    padding-left: 10px;
}

.btn-logo {
    padding-right: 10px;
}

/* Button End */
#Bannar {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-bannar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-bannar-left {
    width: 50%;
}

.main-bannar-left h1 {
    font-weight: 700px;
    font-size: 2.5em;
    color: rgba(58, 58, 58, 1);
}

.main-bannar-left p {
    font-size: 16px;
    font-weight: 600px;
    color: rgba(58, 58, 58, 1);
}

.main-bannar-right {
    display: flex;
    justify-content: center;
    width: 50%;
}

/* ------------- */
/* main bannar end */
/* ------------- */
.sponsour {
    margin-left: 70px;
    margin-right: 70px;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
   
}

/*  */
/* All Products */
/*  */
/* #Collection{
    background-color: #AAAAAA;
} */
/* #Collection{
    align-items: center;
    justify-content: center;
} */
.Collection-heading {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    color: rgba(58, 58, 58, 1);
}

.all-products {
    width: 80%;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    justify-items: center;
    /* align-items: center; */
}

.product {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 #AAAAAA, 0 6px 20px 0 #AAAAAA;

}

.product img {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    height: 255px;
    width: 300px;
}

.product h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 28px;
    color: #18191F;
    margin: 0;
}

.product h3 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: #18191F;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #18191F;
    margin-top: 5px;
}

.product-info {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.product-info p {
    font-size: 14px;
    color: rgba(94, 99, 102, 1);
    margin-left: 10px;
}

.fa-star,
.fa-star-half-stroke {
    height: 10px;
    width: 10px;
    padding: 5px;
    color: #FB8200;
}

/* cccccccccc */
/* All Product done  */
/*xxxxxxxxxxxxxxxxx */

.see-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    color: rgba(224, 44, 109, 0.87);
    margin-right: 10%;
    margin-bottom: 50px;
}

.see-more h3 {
    font-size: 1em;
    margin-right: 10px;
}

/* } */
/* Feature */
/*  */
#feature {
    margin-top: 50px;
    margin-bottom: 100px;
}
.main-bannar2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-bannar2-left2 {
    width: 50%;
    display: flex;
    justify-content: center;
}

.main-bannar2-right2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.join-now {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 44px;
    width: 155px;
    background-color: rgba(224, 44, 109, 1);
    border-radius: 5px;
    color: white !important;
}

/* ------------------- */
/* footer */
/* ------------------- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #0A0826;
}

.footer-logos {
    display: flex;
    flex-direction: row;
}

.fa-instagram-square,
.fa-chrome,
.fa-twitter,
.fa-youtube {
    height: 50px;
    width: 50px;
    /* padding: 10px; */
    color: white;
}

footer h1 {
    font-size: 28px;
    color: white;
}

footer p {
    font-size: 14px;
    color: white;
}

/* -------------------- */
/* Responsive for Mobile */
/* -------------------- */
@media screen and (max-width:688px) {
    body {
        margin: 0;
        scroll-margin-right: 0;
    }

    .menu-bar {
        display: flex;
    }

    nav {

        display: flex;
        justify-content: space-around;
    }

    .right-nav {
        display: none;
    }

    .mobile-nav-cart {
        display: flex;
    }

    .main-bannar {
        margin: 0;
        flex-direction: column;
    }

    /* .main-bannar:first-child{
        order: 0;
    } */
    .main-bannar-left {
        width: 90%;
    }

    .main-bannar-right img {
        order: 0;
        padding-left: 10%;
        padding-right: 10%;
    }
    /* main bannar end */


    .sponsour{
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .all-products{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-bannar2{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-bannar2-left2{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .main-bannar2-right2{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    footer{

        width: 100%;
        margin: 0;
    }
}